body {
  font-family: "Edu TAS Beginner", sans-serif;
}

header {
  background-image: url("../img/wall.png");
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  height: 100%;
  margin: 0;
}

main {
  background-image: url("../img/cork.png");
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
}

h1 {
  font-size: 5rem;
}

.pin {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.overlay {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 13;
}

#closeOverlay {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.post-container {
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.post-container:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(10deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
